@import '~bootstrap/dist/css/bootstrap.css';

h1 {
	font-size: 70px;
	margin-top: 30px;
	color: #42b983;
	margin-left: 300px;
	text-shadow: 2px 2px 6px black;
}
p {
	font-size: 24px;
	color: whitesmoke;
}
.card-img-top {
	width: 50px;
	height: 50px;
	margin-left: 100px;
}

.filtro {
	margin-left: -633px;
	margin-top: -162px;
}
